@charset "UTF-8";
@media (min-width: 768px) {
  .sp {
    display: none !important; } }

@media (max-width: 767px) {
  .no-sp {
    display: none !important; } }

@media (min-width: 1024px) {
  .tb {
    display: none !important; } }
@media (max-width: 767px) {
  .tb {
    display: none !important; } }

@media (max-width: 1023px) and (min-width: 768px) {
  .no-tb {
    display: none !important; } }

@media (max-width: 1023px) {
  .pc {
    display: none !important; } }

@media (min-width: 1024px) {
  .no-pc {
    display: none !important; } }

@media (min-width: 321px) {
  .mini {
    display: none !important; } }

@media (max-width: 320px) {
  .no-mini {
    display: none !important; } }

.area-contents {
  padding-bottom: 0; }

.mod-wrap {
  width: 100%;
  padding-top: 25px; }

h1.mod-heading {
  margin-top: 0; }

.mod-wrap {
  background-image: url(img/body-bg.jpg);
  background-size: 100% auto;
  padding-bottom: 200px; }
  .mod-wrap * {
    box-sizing: border-box; }
  .mod-wrap img {
    display: block; }
    @media (max-width: 767px) {
      .mod-wrap img.no-sp {
        display: none; } }
    @media (min-width: 768px) {
      .mod-wrap img.sp {
        display: none; } }

@media (min-width: 768px) {
  #intro {
    padding: 0 20px; } }
@media (max-width: 767px) {
  #intro {
    padding: 0 !important; } }
#intro img {
  width: 100%; }
#intro .text {
  margin: 2em auto 0;
  padding: 1em 1.5em;
  background-color: #fff; }
  @media (min-width: 768px) {
    #intro .text {
      width: 900px;
      font-size: 24px; } }
  @media (max-width: 767px) {
    #intro .text {
      font-size: 15px; } }
  #intro .text li {
    list-style: none;
    font-weight: bold; }
    #intro .text li::before {
      content: "※"; }

.brand {
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (min-width: 768px) {
    .brand {
      padding: 90px calc(50% - 1056px / 2) 0;
      margin: 80px auto 0; } }
  @media (max-width: 767px) {
    .brand {
      margin-top: 60px; } }
  .brand .panel {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-repeat: repeat-x;
    background-size: 11px auto;
    background-position: bottom;
    border-radius: 40px; }
    @media (min-width: 768px) {
      .brand .panel {
        width: 900px;
        padding: 3em 0;
        box-shadow: 8px 8px 0 0 #646464; } }
    @media (max-width: 767px) {
      .brand .panel {
        margin-top: 10px;
        padding: 45px 0;
        box-shadow: 4px 4px 0 0 #646464; } }
    .brand .panel .brand-mark {
      position: absolute; }
      @media (min-width: 768px) {
        .brand .panel .brand-mark {
          top: -90px;
          left: -90px;
          width: 240px;
          height: 240px; } }
      @media (max-width: 767px) {
        .brand .panel .brand-mark {
          top: -20px;
          left: 0;
          width: 80px;
          height: 80px; } }
  .brand .brand-content {
    max-width: 100%; }
  .brand .menu-link {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; }
    @media (min-width: 768px) {
      .brand .menu-link {
        padding: 0 80px; } }
    @media (max-width: 767px) {
      .brand .menu-link {
        width: 90%; } }
    .brand .menu-link a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3.5em;
      margin: 2em 1% 0;
      background-color: #fff;
      border-radius: 4px;
      font-weight: bold;
      line-height: 1;
      text-align: center;
      text-decoration: none;
      transition: 0.2s; }
      @media (min-width: 768px) {
        .brand .menu-link a {
          width: 48%; } }
      @media (max-width: 767px) {
        .brand .menu-link a {
          width: 100%;
          font-size: 3.5vw; } }
      .brand .menu-link a::after {
        position: absolute;
        right: 8px;
        top: 0;
        bottom: 0;
        display: block;
        width: 1em;
        height: 1em;
        margin: auto;
        font-family: FontAwesome;
        line-height: 1;
        font-weight: normal;
        content: "\f0da";
        vertical-align: middle;
        transform: translate(0, -1px); }
      .brand .menu-link a:hover {
        opacity: .8;
        transition: 0.2s; }

#gusto .panel {
  background-color: #C2191F;
  background-image: url("img/dot-gusto.png"); }
#gusto .menu-link a {
  color: #C2191F; }

#bamiyan .panel {
  background-color: #C00865;
  background-image: url("img/dot-bamiyan.png"); }
#bamiyan .menu-link a {
  color: #C00865; }

#jonathan .panel {
  background-color: #D4142D;
  background-image: url("img/dot-jonathan.png"); }
#jonathan .menu-link a {
  color: #D4142D; }

#yumean .panel {
  background-color: #813A3A;
  background-image: url("img/dot-yumean.png"); }
#yumean .menu-link a {
  color: #813A3A; }

#steak_gusto .panel {
  background-color: #5C2E17;
  background-image: url("img/dot-steak_gusto.png"); }
#steak_gusto .menu-link a {
  color: #5C2E17; }

#aiya .panel {
  background-color: #0D2142;
  background-image: url("img/dot-aiya.png"); }
#aiya .menu-link a {
  color: #0D2142; }

#grazie_gardens .panel {
  background-color: #EB9100;
  background-image: url("img/dot-grazie_gardens.png"); }
#grazie_gardens .menu-link a {
  color: #EB9100; }

#brands {
  position: relative; }

#brand-link {
  position: sticky;
  left: 0;
  display: flex;
  align-items: flex-end;
  width: 100%; }
  #brand-link .buttons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-around;
    margin: 0 auto;
    background-color: #fff;
    border: 3px solid #E03B57; }
  #brand-link .brand-link-p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    margin: auto; }
  #brand-link a {
    display: block;
    transition: 0.2s; }
    #brand-link a:hover {
      opacity: .6;
      transition: 0.2s; }
  @media (min-width: 768px) {
    #brand-link {
      height: 170px;
      margin-top: 50px;
      bottom: 20px; }
      #brand-link .buttons {
        width: 960px;
        height: 150px;
        padding-bottom: 16px;
        border-radius: 16px; }
      #brand-link .brand-link-p {
        width: 500px; }
      #brand-link .brand-mark {
        width: 100px;
        height: 100px; } }
  @media (max-width: 767px) {
    #brand-link {
      height: 160px;
      margin-top: 24px;
      bottom: 60px; }
      #brand-link .buttons {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 5px;
        border-radius: 16px 16px 0 0; }
      #brand-link .sp_row {
        display: flex;
        justify-content: center;
        width: 100%; }
      #brand-link a {
        margin: 0 calc((25% - 60px) / 2); }
      #brand-link .brand-mark {
        width: 60px;
        height: 60px; } }
