//ブレイクポイントの設定
$ep_max: 1199px;
$min_large: 1024px;
$max_large: 1023px;
$min_small: 768px;
$max_small: 767px;
$min_mini: 321px;
$max_mini: 320px;

@mixin pc{
  @media (min-width: ($min_large)) {
    @content;
  }
}
@mixin tb{
  @media (max-width: ($max_large)) and (min-width: ($min_small)){
    @content;
  }
}
@mixin sp{
  @media (max-width: ($max_small)) {
    @content;
  }
}
@mixin no-sp{
  @media (min-width: ($min_small)) {
    @content;
  }
}
@mixin no-pc{
  @media (max-width: ($max_large)) {
    @content;
  }
}
@mixin no-mini{
  @media (min-width: ($min_mini)) {
    @content;
  }
}
@mixin mini{
  @media (max-width: ($max_mini)) {
    @content;
  }
}

//////////////////////////////////////////////////
//ブラウザ別クラス
//////////////////////////////////////////////////
.sp{
	@include no-sp{
		display: none;
	}
}
.no-sp{
	@include sp{
		display: none;
	}	
}
.tb{
	@include pc{
		display: none;
	}
	@include sp{
		display: none;
	}
}
.no-tb{
	@include tb{
		display: none;
	}
}
.pc{
	@include no-pc{
		display: none;
	}
}
.no-pc{
	@include pc{
		display: none;
	}
}
.mini{
	@include no-mini{
		display: none;
	}
}
.no-mini{
	@include mini{
		display: none;
	}
}
//////////////////////////////////////////////////
//上書き
//////////////////////////////////////////////////
.area-contents{
	padding-bottom: 0;
}
.mod-wrap{
	width: 100%;
	padding-top: 25px;
}
h1.mod-heading{
	margin-top: 0;
}
//////////////////////////////////////////////////
//レイアウト
//////////////////////////////////////////////////
.mod-wrap{
	*{
		box-sizing: border-box;
	}
	position: relative;
	background-image: url(img/body-bg.jpg);
	background-size: 100% auto;
	padding-bottom: 200px;
	img{
		display: block;
		&.no-sp{
			@include sp{
				display: none;
			}
		}
		&.sp{
			@include no-sp{
				display: none;
			}
			
		}
	}
}
section{
	$content-width:900px;
	$mark-size: 240px;
	$mark-size-sp: 80px;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include no-sp{
		padding: 170px calc(50% - 1056px / 2) 0;
	}
	@include sp{
		padding-top: 60px;
	}
	&#intro{
		@include no-sp{
			padding: 0 20px;
		}
		@include sp{
			padding: 0!important;
		}
		img{
			width: 100%;
		}
		.text{
			margin-top: 2em;
			padding: 1em 1.5em;
			background-color: #fff;
			@include no-sp{
				width: $content-width;
				font-size: 24px;
			}
			li{
				list-style: none;
				&::before{
					content: "※";
				}
			}
		}
	}
	.panel{
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		background-repeat: repeat-x;
		background-size: 11px auto;
		background-position: bottom;
		border-radius: 40px;
		@include no-sp{
			width: $content-width;
			margin: auto;
			padding: 3em 0;
			box-shadow: 8px 8px 0 0 #646464;
		}
		@include sp{
			padding: 45px 0;
			box-shadow: 4px 4px 0 0 #646464;
		}
		.brand-mark{
			position: absolute;
			@include no-sp{
				top: -90px;
				left: -90px;
				width: $mark-size;
				height: $mark-size;
			}
			@include sp{
				top: -20px;
				left: 0;
				width: $mark-size-sp;
				height: $mark-size-sp;
			}
		}
	}
	.brand-content{
		max-width: 100%
	}
	.menu-link{
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		width: 100%;
		@include no-sp{
			padding: 0 80px;
		}
		@include sp{
			width: 90%;
		}
		a{
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 3.5em;
			margin: 2em 1% 0;
			background-color: #fff;
			border-radius: 4px;
			font-weight: bold;
			line-height: 1;
			text-align: center;
			text-decoration: none;
			transition: 0.2s;
			@include no-sp{
				width: 48%;
			}
			@include sp{
				width: 100%;
				font-size: 3.5vw;
			}
			&::after{
				position: absolute;
				right: 8px;
				top: 0;
				bottom: 0;
				display: block;
				width: 1em;
				height: 1em;
				margin: auto;
				font-family: FontAwesome;
				line-height: 1;
				font-weight: normal;
				content: "\f0da";
				vertical-align: middle;
				transform: translate(0, -1px);
			}
			&:hover{
				opacity: .8;
				transition: 0.2s;
			}
		}
	}
}

//////////////////////////////////////////////////
//ブランド別
//////////////////////////////////////////////////
#gusto{
	$brand:'gusto';
	$brand-color: #C2191F;
	.panel{
		background-color: $brand-color;
		background-image: url("img/dot-#{$brand}.png");			
	}
	.menu-link{
		a{
			color: $brand-color;
		}
	}
}
//バーミヤン
#bamiyan{
	$brand:'bamiyan';
	$brand-color: #C00865;
	.panel{
		background-color: $brand-color;
		background-image: url("img/dot-#{$brand}.png");			
	}
	.menu-link{
		a{
			color: $brand-color;
		}
	}
}
//ジョナサン
#jonathan{
	$brand:'jonathan';
	$brand-color: #D4142D;
	.panel{
		background-color: $brand-color;
		background-image: url("img/dot-#{$brand}.png");			
	}
	.menu-link{
		a{
			color: $brand-color;
		}
	}
}
//夢庵
#yumean{
	$brand:'yumean';
	$brand-color: #813A3A;
	.panel{
		background-color: $brand-color;
		background-image: url("img/dot-#{$brand}.png");			
	}
	.menu-link{
		a{
			color: $brand-color;
		}
	}
}
//ステーキガスト
#steak_gusto{
	$brand:'steak_gusto';
	$brand-color: #5C2E17;
	.panel{
		background-color: $brand-color;
		background-image: url("img/dot-#{$brand}.png");			
	}
	.menu-link{
		a{
			color: $brand-color;
		}
	}
}
//藍屋
#aiya{
	$brand:'aiya';
	$brand-color: #0D2142;
	.panel{
		background-color: $brand-color;
		background-image: url("img/dot-#{$brand}.png");			
	}
	.menu-link{
		a{
			color: $brand-color;
		}
	}
}
//グラッチェガーデンズ
#grazie_gardens{
	$brand:'grazie_gardens';
	$brand-color: #EB9100;
	.panel{
		background-color: $brand-color;
		background-image: url("img/dot-#{$brand}.png");			
	}
	.menu-link{
		a{
			color: $brand-color;
		}
	}
}
//////////////////////////////////////////////////
//固定ボタン
//////////////////////////////////////////////////
#brand-link{
	position: sticky;
	bottom: 1em;
	left: 0;
	justify-content: flex-end;
	width: 100%;
	height: 250px;
	padding: 0;
	.buttons{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		align-items: flex-end;
		margin: 0 auto;
		background-color: #fff;
		border: 3px solid #E03B57;
		@include no-sp{
			width: 1024px;
			height: 150px;
			padding-bottom: 16px;
			border-radius: 16px;
		}
		@include sp{
			width: 100%;
			height: 180px;
			padding-bottom: 8px;
			border-radius: 16px 16px 0 0;
		}
		.brand-link-p{
			$text-height: 50px;
			position: absolute;
			left: 0;
			right: 0;
			width: auto;
			margin: auto;
			@include no-sp{
				top:calc(-1 * #{$text-height} / 2);
				height: $text-height;
			}
			@include sp{
				top: -1.5em;
			}
		}
	}
	a{
		display: block;
		transition: 0.2s;
		&:hover{
			opacity: .8;
			transition: 0.2s;
		}
	}
	.brand-mark{
		@include no-sp{
			width: 100px;
			height: 100px;
		}
		@include sp{
			width: 80px;
			height: 80px;
		}
	}
}